*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font style  */
.all-font{
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
}

/* Header style  */
header{
    /* padding: 120px 16px;  */
    background-color: #FFFFFF;
}

/* Navigation bar  */
nav{
    width: 83%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    
    
    }
    nav .menu{
        display: flex;
        list-style: none;
        align-items: center;
        gap: 32px;
        
    }
    .logo{
        margin-right: 344px;
        margin-top: 16px;
        width: 139px;
        height: px;
        margin-right: auto;
    }

    nav .menu a{
        text-decoration: none;
        color: #000000;
    }
    nav .btn{
        color: #FFFFFF;
        background-color: #30B868;
        border: none;
        padding: 12px 16px;
        border-radius: 5px;
        margin-left: auto;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
    }

    nav .btn:hover{
        color: #000000;
        background-color: #00CEd1;
    }

    #banar{
    /* border: 1px solid #3b82f6; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 120px 134px 120px;
    gap: 40px;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 674px;
    margin: 0 auto;

}

#banar .banar-content{
    padding: 32px;
    text-align: center;
}
#banar .banar-content button img {
    width: 10px;
    height: 10px;


}

#banar .banar-content .b10{
    padding: 12px 8px;
    background-color: #FFFFFF;
    color: #30B868;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

#banar .banar-content .b10:hover{
    background-color: #00CEd1;
    color: #000000;
}

#banar .banar-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}
#banar .banar-content .text1{
    color: #30B868;
}

#banar .banar-content p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
}
#banar .banar-content .btn-g{
    
    display: flex;
    justify-content: center;
    gap: 16px;
    
    
}

#banar .banar-content .b11{
        color: #FFFFFF;
        background-color: #30B868;
        border: none;
        padding: 16px 12px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 32px;
        font-size: 16px;
        font-weight: 600;
        
}

#banar .banar-content .b11:hover{
    background-color: #00CEd1;
    color: #000000;
}

#banar .banar-content .b12{
        
        color: #FFFFFF;
        background:transparent;
        border: 2px solid #FFFFFF;
        padding: 16px 12px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 32px;
        font-size: 16px;
        font-weight: 600;
        
        
}

#banar .banar-content .b12:hover{
background-color: #00CEd1;
    color: #000000;                
}