*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font style  */
.all-font{
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
}

/* Header style  */
header{
    /* padding: 120px 16px;  */
    background-color: #FFFFFF;
}

/* Navigation bar  */
nav{
    width: 83%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    
    
    }
    nav .menu{
        display: flex;
        list-style: none;
        align-items: center;
        gap: 32px;
        
    }
    .logo{
        margin-right: 344px;
        margin-top: 16px;
        width: 139px;
        height: px;
        margin-right: auto;
    }

    nav .menu a{
        text-decoration: none;
        color: #000000;
    }
    nav .btn{
        color: #FFFFFF;
        background-color: #30B868;
        border: none;
        padding: 12px 16px;
        border-radius: 5px;
        margin-left: auto;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
    }

    nav .btn:hover{
        color: #000000;
        background-color: #00CEd1;
    }

    #banar{
    /* border: 1px solid #3b82f6; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 120px 134px 120px;
    gap: 40px;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 674px;
    margin: 0 auto;

}

#banar .banar-content{
    padding: 32px;
    text-align: center;
}
#banar .banar-content button img {
    width: 10px;
    height: 10px;


}

#banar .banar-content .b10{
    padding: 12px 8px;
    background-color: #FFFFFF;
    color: #30B868;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

#banar .banar-content .b10:hover{
    background-color: #00CEd1;
    color: #000000;
}

#banar .banar-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}
#banar .banar-content .text1{
    color: #30B868;
}

#banar .banar-content p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
}
#banar .banar-content .btn-g{
    
    display: flex;
    justify-content: center;
    gap: 16px;
    
    
}

#banar .banar-content .b11{
        color: #FFFFFF;
        background-color: #30B868;
        border: none;
        padding: 16px 12px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 32px;
        font-size: 16px;
        font-weight: 600;
        
}

#banar .banar-content .b11:hover{
    background-color: #00CEd1;
    color: #000000;
}

#banar .banar-content .b12{
        
        color: #FFFFFF;
        background:transparent;
        border: 2px solid #FFFFFF;
        padding: 16px 12px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 32px;
        font-size: 16px;
        font-weight: 600;
        
        
}

#banar .banar-content .b12:hover{
background-color: #00CEd1;
    color: #000000;                
}

.s2{
    padding: 120px 120px;
}

.s2 .con-2{
    display: flex;
    justify-content: center;
    text-align:center ;
    align-items: center;
    gap: 60px;

}
.s2 .con-2 h4{
    width: 700px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 16px;
    color: #30B868;
}

.s2 .con-2 h1{
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: #001931;
}
.s2 .con-2 p{
    line-height: 20px;
    text-align: left;
    margin-top: 16px;
    color: #627382;
}

.s2 .con-2 li {
    
    list-style: none;
    text-align: left;
    margin-top: 40px;
    display: flex;
}

.s2 .con-2 li img{
    color: #30B868;
    
}

.s3{
    margin-left :120px ;
    margin-right: 120px;
    margin-bottom: 120px;
    padding-bottom: 120px;
    padding-top: 2px;
    background-color: #F7F6F2;
    border-radius: 10px;
    
}
.s3 .con-3{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.s3 .con-3 h1 {
    margin-top:80px ;
}

.s3 .con-3 p{
    line-height: 24px;
    margin-top: 16px;
    color: #627382;
}

.s3 .con-3 .b15{
    color: #FFFFFF;
        background-color: #30B868;
        border: none;
        padding: 16px 12px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 24px;
        font-size: 16px;
        font-weight: 600;
}

.s3 .con-3 .b15:hover{
    background-color: #00CEd1;
    color: #000000;
}


.s1 {
    padding: 0 120px 120px 120px ;
    background-color: #FFFFFF;
}

.s1 .s1hd h1{
    text-align: center;
    font-size: 48px;
    margin-top: 80px;
}
.s1 .s1hd p{
    text-align: center;
    line-height: 20px;
    margin-top: 16px;
    color: #627382;
}

.card-all{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    gap: 24px;
    padding: 20px 0;
    
    
    
}

/* .card-all:hover{ */
    /* background-color: #00CEd1; */
    /* color: #000000;     */
/* } */
.s1 .card-all .c100 img{
    color: #FFFFFF;
    background-color: #f95555;
    border-radius: 50%;
    padding: 24px 24px;
    margin-top: 69px;
    
    

}
.s1 .card-all .c100 h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    color: #001931;
}
.s1 .card-all .c100 p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 69px;
}


.s1 .card-all .c2 h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    color: #001931;
}

.s1 .card-all .c2 p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 69px;
}


.s1 .card-all .c3 h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    color: #001931;
}

.s1 .card-all .c3 p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 69px;
}


.s1 .card-all .c4 h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    color: #001931;
}

.s1 .card-all .c4 p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 69px;
}

.s1 .card-all .c2 img{
    color: #FFFFFF;
    background-color: #f95555;
    border-radius: 50%;
    padding: 24px 24px;
    margin-top: 69px;

    
    
}
.s1 .card-all .c3 img{
    color: #FFFFFF;
    background-color: #f95555;
    border-radius: 50%;
    padding: 24px 24px;
    margin-top: 69px;

    
}

.s1 .card-all .c4 img
{
color: #FFFFFF;
    background-color: #f95555;
    border-radius: 50%;
    padding: 24px 24px;
    margin-top: 69px;

}

footer{
    background: linear-gradient(#002147);
    
}

.fother-contener{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fother-contener .logo-f{
    width: 350px;
    height: 60px;
    padding-top: 120px;
    padding-left: 120px;
    padding-bottom:158px ;
}

.fother-contener .icons {
    margin-right: 227px;
    
}

.fother-contener .icons .i{
    background-color: #FFFFFF;
    width:20px;
    height:19px ;
    border:#F7F6F2 4px solid;
    border-radius: 50%;
    margin: 0 auto;
}




footer .copy{
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 24px;
    align-items: center;
    padding-bottom: 30px;
    
    
}
footer .copy hr{
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 30px;
    background-color:#87afff ;
}


.c100, .c2, .c3, .c4{
    border: 1px solid #F7F6F2;
    border-radius: 10px;
    text-align: center;
    
}